<p>Hey {{ name }}!</p>

<p>There was a request to change your password!</p>

<p>
  <a href="{{ url }}">Change Password</a>
</p>

<p>If you didn't request this, you can safely ignore this email and your password will not be changed.</p>