@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 3% 94%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --control: 0 0% 0% / 5%;
    --control-foreground: 0 0% 0% / 10%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 210 100% 45% / 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 0% 9.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 0 0% 12%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --control: 0 100% 100% / 5%;
    --control-foreground: 0 100% 100% / 10%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 210 100% 45% / 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

::-moz-selection {
  color: hsl(var(--background));
  background: hsl(var(--foreground));
}

::selection {
  color: hsl(var(--background));
  background: hsl(var(--foreground));
}

@layer utilities {
  ._ring {
    @apply ring-offset-background focus-visible:outline-none focus-visible:ring-[3px] focus-visible:ring-ring focus-visible:ring-offset-0
  }

  ._ring-within {
    @apply ring-offset-background focus-within:outline-none focus-within:ring-[3px] focus-within:ring-ring focus-within:ring-offset-0
  }
}

/**
 * Makes sure h-screen works on iOS Safari.
 * @see https://benborgers.com/posts/tailwind-h-screen
 */
@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}